@using SimpleSchool.Core

@model List<SimpleSchool.Core.Domain.Course>

@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Simple School Website</h1>
</div>

<div>
    <h2>
        Coures
    </h2>
    
    <ul>
        @foreach (var course in Model)
        {
            <li>
                @course.Title - @course.Credits - @course.Instructor.FullName
                @if (course.Enrollments != null && course.Enrollments.Count > 0)
                {
                    foreach (var enrollment in course.Enrollments)
                    {
                        <span>
                            Student:
                            @enrollment.Student.FullName
                            - @course.Enrollments[0].Student.Birthday.ToString()
                        </span>
                    }
                }

            </li>
        }

    </ul>

</div>